.card-action{
    background-color: #e53935;
}

.card-content{
    background-color: #f44336;
}

.card .card-action a {
    color: #fff;
    background-color: #66bb6a;
    margin-right: 0px;
}

.card .card-action {
    border-top: 0px solid rgba(160, 160, 160, 0.2);
    padding: 12px;
}

.card .card-action a:hover, .card .card-action a.recording:hover {
    color: #fff;
}

.card-content-recording{
    background: linear-gradient(to bottom, #4caf50 50%, #2196f3 50%);
    background-size: 100% 200%;
    background-position:top;
    transition:all 0.5s linear;
}

.card-content-recording:hover{
    background-position:bottom;
}

.card-action-recording {
    background-color: #43a047;
}

.card .card-action a.recording {
    color: #fff;
    background-color: #f44336;
}



.modal .modal-content {
    padding-bottom: 0px;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    float: none;
    margin: 0px;
}

.btn-floating i {
    font-size: 2.3rem;
    line-height: 60px;
}

.btn-floating {
    width: 60px;
    height: 60px;
}
